<launch>

    <!-- this opens gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find simulator)/worlds/world2.world" />
        <arg name="gui" value="true" />
    </include>

    <include file="$(find bringup)/launch/launch_robot.launch">
        <arg name="robot_name" value="panda1"/>
    </include>

    <include file="$(find bringup)/launch/launch_robot.launch">
        <arg name="robot_name" value="panda2"/>
        <arg name="init_pose_x" value="1.5"/>
        <arg name="init_pose_Y" value="3.14159265"/>
    </include>

    <!-- <node name="init_planning_scene" pkg="simulator" type="init_static_scene" respawn="false"
    output="screen" /> -->

</launch>