<launch>

    <!-- robots' name -->
    <arg name="robot_name1" value="panda1"/>
    <arg name="robot_name2" value="panda2"/>

    <group ns="$(arg robot_name1)">
        <node name="move_arm" type="move_arm" pkg="simulator" args="$(arg robot_name1)" respawn="false" output="screen"/>
    </group>
    
    <group ns="human_hand">
        <node name="own_move_hand" type="own_move_hand" pkg="simulator" respawn="false" output="screen"/>
    </group>

    <node name="sim_controller" pkg="simulator" type="sim_controller" respawn="false" output="screen"/>

</launch>