<launch>

  <!-- this opens gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find simulator)/worlds/world2.world" />
      <arg name="gui" value="true"/>
  </include>

  <!-- this put robot in gazebo world -->
  <arg name="robot1_model" default="$(find description)/urdf/panda1.urdf"/>
  <arg name="robot2_model" default="$(find description)/urdf/panda2.urdf"/>

  <!-- Load universal robot description format (URDF) -->
  <param name="robot1_description_gaz" textfile="$(arg robot1_model)"/>
  <param name="robot2_description_gaz" textfile="$(arg robot2_model)"/>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawner1" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot1_description_gaz -model panda1 -x 0 -y 0 -z 0.0 -R 0 -P 0 -Y 0" respawn="false" output="screen" />
  <node name="urdf_spawner2" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot2_description_gaz -model panda2 -x 1.5 -y 0 -z 0.0 -R 0 -P 0 -Y 3.14159" respawn="false" output="screen" />


</launch>